:root {
    --color-primario: blue;
    --color-secundario: yellow;

}


* {
    margin: 0;
    padding: 0;
    font-family: '', 'Pedigree Unleashed', Arial, sans-serif;
    font-weight: 200;
    font-size: 20px;
}

body{
    height: 100vh;
}
header {

       background: url(../assets/image/fondonaranja.avif) no-repeat;

}
main{
   
}
.creemos{
    background-image: url(../assets/image/fondonaranja.avif);
background-size: 100% auto;
display: flex;
flex-direction: row;
max-width: max-content;
padding:30px;
}

.subtitulos h3 {
    color: white;
font-size: 90px;
font-weight: 700;
}

.subtitulos p{
/* width: 80%; */
margin-top: 30px;
font-size: 25px;
}

button{
margin-top: 30px;    
color: white;
padding: 20px ;
border: 0px;
border-radius: 50px;
/* flex-direction: column; */
background-color: #003399;

}
h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.produ{
    max-width: 100%;
    display: flex;
        flex-direction: row;
    justify-content: center;
    align-items: center;
}

.produ h2{text-align: center;
justify-content: center;
display: block;
}
.comida {
    display: flex;
 /* flex-basis: auto; */
 justify-content: space-around;
}

.contenedor {
    width: 200px;
    height: 500px;
    flex-basis: auto;
}

img{
size: 25;

}